.banner.banner1 .title {
    font-size: 200%;
    position: absolute;
    font-weight: bold;
    top: 30%;
    left: 5%;
    transition: all .2s;
    z-index: 1;
}

.banner.banner1 .subtitle {
    min-width: none;
    max-width: 26em;
    font-size: 120%;
    position: absolute;
    font-weight: normal;
    top: 40%;
    left: 5%;
    transition: all .2s;
    z-index: 1;
}

.banner1 button{
    width: 9rem;
    height: 2.5rem;
    font-size: 120%;
    position: relative;
    font-weight: normal;
    top: 69%;
    left: 5%;
    border: none;
    background: #6c8dbe;
    color: #212121;
    border-radius: 1em;
    z-index: 1;
}

.banner1 .contribute {
    left: calc(6% + 9rem);
}
.banner.banner1 {
        overflow: visible;
        background-color: #0000;
        backdrop-filter: none;
}
.background-layout {
    content: '';
    width: 100%;
    height: 50em;
    position: absolute;
    display: block;
    z-index: -2;
    background-image: url(../../assets/drawable/account_bkg.png);
    transform: scale(1);
    background-size: cover;
    mask-image: linear-gradient(to bottom, #000, #0000);
    background-position: center;
    top: -5em;
    left: 0;
}


.banner.authgen {
    padding: 1em;
    box-sizing: border-box;
    height: max-content;
    display: none;
}

.warning {
    width: 100%;
    display: block;
    color: #fff;
    background-color: #F00;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px
}

h1 {
    text-align: center;
    color: #FFF;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #b9b9b9
}

select,
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #cccccc00;
    border-radius: 22em;
    box-sizing: border-box;
    background: #5b697442;
    color: #FFF;
}

select option {
    background-color: #21262b!important;
    color: #fff;
  }

button {
    width: 9rem;
    height: 2.5rem;
    font-size: 108%;
    font-weight: normal;
    border: none;
    background: #6c8dbe;
    color: #212121;
    border-radius: 1em;
    z-index: 1;
}


button.download {
    background-color: #8f6cbe;
    display: none;
}

.downloadable button.download {
    display: inline;
}

textarea {
    width: 100%;
    height: 10em;
    margin-top: 15px;
    background: #1b1f22;
    color: #fff;
    border-radius: 1cap;
}

input, input:focus {
    font-size: 100%!important;
    text-align: left!important;
    position: relative!important;
}

.authgencon {
    max-width: 30em;
    height: 100%;
    text-align: center;
    position: relative;
    margin: auto;
}