/*Web Content*/

.banner.banner1 .title {
    font-size: 200%;
    position: absolute;
    font-weight: bold;
    top: 40%;
    left: 5%;
    transition: all .2s;
    z-index: 1;
}

.banner.banner1 .subtitle {
    min-width: none;
    max-width: 26em;
    font-size: 120%;
    position: absolute;
    font-weight: normal;
    top: 50%;
    left: 5%;
    transition: all .2s;
    z-index: 1;
}

.banner1 button{
    width: 9rem;
    height: 2.5rem;
    font-size: 120%;
    position: absolute;
    font-weight: normal;
    top: 79%;
    left: 5%;
    border: none;
    background: #6c8dbe;
    color: #212121;
    border-radius: 1em;
    z-index: 1;
}

.banner1 .contribute {
    left: calc(6% + 9rem);
}
.banner.banner1 {
        overflow: visible;
        background-color: #0000;
        backdrop-filter: none;
}
.background-layout {
    content: '';
    width: 100%;
    height: 50em;
    position: absolute;
    display: block;
    z-index: -2;
    background-image: url(../../assets/drawable/info_bkg.png);
    transform: scale(1);
    background-size: cover;
    mask-image: linear-gradient(to bottom, #000, #0000);
    background-position: center;
    top: -5em;
    left: 0;
}

.banner1 .phone {
    width: 30%;
    height: 90%;
    object-fit: contain;
    position: absolute;
    left: 60%;
    transition: all .2s, transform 2s;
    animation: floating 5s infinite ease alternate-reverse;
    z-index: 0;
    -webkit-animation: floating 5s infinite ease alternate-reverse;
}

.sourcechecker {
    height: 15em !important;
}
.ads {
    height: 6.3em !important;
}

.advantages .container-grid {
    width: calc(100% - 36px);
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    top: 7rem;
    position: relative;
    margin: auto;
    transition: all .2s;
    overflow: hidden;
}

.advantages .container-grid .grid {
    width: auto;
    height: 16rem;
    background-color: rgba(37, 40, 45, 0.315);
    margin: 1em;
    border-radius: 2em;
    transition: all .2s;
    overflow: hidden;
}

.advantages .container-grid .grid:hover {
    transform: scale(1.1);
}

.advantages .container-grid .grid {
    transform: scale(1.001);
    /*fix f'd up rendering on some browser*/
}

.advantages .container-grid .grid .material-symbols-rounded {
    position: relative;
    z-index: 1;
    font-size: 7.4em;
    top: 13%;
}

.advantages .container-grid .grid .title {
    font-weight: bold;
    font-size: 130%;
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 16%;
    display: block;
}

.advantages .container-grid .grid .subtitle {
    top: 18%;
    font-size: medium;
    position: relative;
    z-index: 1;
    width: 70%;
    margin: auto;
    text-align: center;
    display: block;
}

.sourcechecker .material-symbols-rounded {
    position: relative;
    z-index: 1;
    font-size: 10em;
    top: 13%;
    left: 0.31em;
}
.sourcechecker button{
    width: 9rem;
    height: 2.5rem;
    font-size: 120%;
    position: absolute;
    font-weight: normal;
    top: 79%;
    left: 5%;
    border: none;
    background: #6c94be;
    color: #212121;
    border-radius: 1em;
    z-index: 1;
}