::-webkit-scrollbar-track {
    background: linear-gradient(to right, #0000 40.01%, #585754 40.02%);
}
::-webkit-scrollbar-thumb {
    background-color: #214076;
}
.theme{
    color: #fff;
}
#page {
    background: #e8edf4;
    color: #212121 !important;
}

.banner {
    background: #f0f5fd;
}

.nav-link:-webkit-any-link {
    color: #212121 !important;
}

#navbar li {
    color: #212121 !important;
}

#navbar {
    background-color: #b6bac0da;
}
.loading #navbar {
    background-color: #313131da;
}
